*{
    box-sizing: border-box;
    }

body{
    width: auto;
    height: auto;
    background-image: url(fondo.jpg);
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
    height: 100vh;
}

.encabezado {
    font-weight: bold;
    font-size:xx-large;
    color: white;
    text-align: center;
    padding: 20px;
    border: solid 2px;
    border-radius: 10px;
}
.titulo {
    background-color:yellow; 
    font-weight: bold;
    font-size:xx-large;
    color: red;
    text-align: center;
    padding: 20px;
    border: solid 2px;
    border-radius: 10px;
}
.descripcion {
    background-color:purple; 
    font-weight: bold;
    font-size:medium;
    color: white;
    text-align: center;
    padding: 20px;
    border: solid 2px;
    border-radius: 10px;
}
.productos1 {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.producto1 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: medium;
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    flex: 33%;
}
.producto2 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: medium;
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    flex: 33%;
}
.producto3 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: medium;
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    flex: 33%;
}
.producto4 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: medium;
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    flex: 33%;
}
.producto5 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: medium;
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    flex: 33%;
}
.producto6 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: medium;
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    flex: 33%;
}
