.encabezados{text.align:center; color:blue; font-size:200}

.parrafos{margin-left:20px; color:yellow; text-align:}

body{background:url("https://img.freepik.com/vector-premium/fondo-degradado-brillante-tonos-verdes_23-2148358650.jpg?w=2000") no-repeat top fixed;}
