body{
    background-color: bisque;
    }
.encabezado{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: brown;
    padding: 20px;
}
.row{ /*FILA*/
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
.column{ /*COLUMNA*/
    flex: 25%;
    flex-wrap: wrap;
    padding: 0 5px;
}
@media (max-widht:800px){ /**/
    .column{
        flex:50%;
        max-width: 50%;
    }
}