body{
    background-color: lightgoldenrodyellow;
    text-align: center;
}
.caja{
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
}
.contenedor{
    display: grid;
    grid-template-areas: 'cabecera cabecera' 'contenido' 'banners' 'pie''pie';
    grid-template-rows: 10% 20% auto 10%;
    justify-content: stretch;
    width: 80%;
    height: 84vh;
    margin
}